 @font-face{ font-family: 'fontello'; src: url('../font/fontello.woff') format('woff'); font-weight:normal; font-style:normal;  
 } 
 *{ font-family: fontello, 'segoe UI';
 }
 body{ margin:0!important; padding:0; font: 100% fontello; width:100%!important;
     font-family: "Open Sans",sans-serif;
     min-height: 100%;
 }
 a{text-decoration:none;
}
html{ height:100%;
}
/****** HEADER *******/
 .header_wrapper{ height: 50px; width:100%; background-color:#fff; position: fixed; z-index: 99999999;
box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
}
.header_wrapper #nav_zone, .header_wrapper #logo_zone, .header_wrapper #nav_zone, .header_wrapper #logout{ vertical-align:top; display:inline-block;
}
/*.header_wrapper #nav_zone{font-size: 24px; margin: 13px 0 0 15px; float:left;
}
.header_wrapper #nav_zone a{ color:#2b3643;
}
.header_wrapper #nav_zone a:hover{ color:rgb(3, 169, 244);
transition: all 0.1s;
-moz-transition: all 0.1s;
-o-transition: all 0.1s;
-webkit-transition: all 0.1s;
}*/
.header_wrapper #logo_zone {
  box-sizing: border-box;
  padding: 14px 0px 0px 0px;
  margin:0 auto;
  display: block;
  width: 200px;
}
.header_wrapper #logo_zone img {
  height: 22px;
}
.header_wrapper #logout{font-size: 24px; margin: -23px 15px 0 0; float:right;
}
.header_wrapper #logout a{ color:#2b3643;
}
.header_wrapper #logout a:hover{ color:#F00;
transition: all 0.1s;
-moz-transition: all 0.1s;
-o-transition: all 0.1s;
-webkit-transition: all 0.1s;
}
/***********   selected page effect   **********/
nav .links>.accordion>li>.actv>.selected{
	position: absolute;
    display: block;
    float: right;
    right: 0;
    top: 9.5px;
	margin-top:-2px;
    background: 0 0;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 12px solid #F5F5F5;;
}
nav .links>.accordion>li>a>.actv>.selected{
	position: absolute;
    display: block;
    float: right;
    right: 0;
    top: 9.5px;
	margin-top:-2px;
    background: 0 0;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 12px solid #F5F5F5;;
}

/***********   VERTICAL MENU   **********/
* { box-sizing: border-box; }
.nav_control {
  position: fixed;
  z-index: 999999999;
  padding-top: 18px;
  padding-left: 15px;
}
.nav_control:hover { cursor: pointer;}
.nav_control div {
  background-color:#2b3643;
  border-radius: 1px;
  height: 2px;
  width: 25px;
}

.nav_control div:not(:last-child) { margin-bottom: 5px; }
nav {
 /* background-color:#2b3643!important;*/
   background-color:#364150!important;
  display: inline-block;
  position: fixed;
  height: 100vh;
  margin-top: 51px;
  width: 200px;
  left: -200px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}
.links{ margin-bottom:53px;}
/*active bg:#36c6d3;*/
/*color:#b4bcc8;*/
nav .usr_pic { 
  text-align: center; margin-top:15px; margin-bottom:15px;
}
nav .usr_pic p {
  font-weight: 100; font-weight: 400;
  font-size: 1em; color:#98a6ad;
}
nav .usr_pic img { border-radius: 50%; height:50px; width:50px; }

nav, .nav_control, .cover {
  -webkit-transition: -webkit-transform .3s;
  transition: transform .3s;
}
.sidenav-active nav, .sidenav-active .nav_control, .sidenav-active .cover {
  -webkit-transform: translateX(200px);
  -ms-transform: translateX(200px);
  transform: translateX(200px);
}
.main {
   margin-top: 62px;
  -webkit-transition: margin-left .3s;
  transition: margin-left .3s;
}
.sidenav-active .main { margin-left: 200px; }


/*section:nth-child(2) { background-color: #3498DB; }
section:nth-child(3) { background-color: #8E44AD; }
*/

/************** SCROLLABLE CODE ****************/

.scrollbar
{   
	float: left;
	background: #F5F5F5;
	overflow-y:auto;
	margin-bottom: 25px;
}
.scrollbar8
{   
	float: left;
	background: #F5F5F5;
	overflow-y: auto;
	margin-bottom: 25px;
}
.force-overflow
{
	min-height: 450px;
}
#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #1bbae1;
}
/********* moz **********/
#style-1::-moz-scrollbar-track
{
	-moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-1::-moz-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

#style-1::-moz-scrollbar-thumb
{
	border-radius: 10px;
	-moz-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #1bbae1;
}
/********* Opera **********/
#style-1::-o-scrollbar-track
{
	-o-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
#style-1::-o-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}
#style-1::-o-scrollbar-thumb
{
	border-radius: 10px;
	-o-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #1bbae1;
}
/********** style 8 **********/
/*rgba(0, 0, 0, 0.298039);*/
#style-8::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
#style-8::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}
#style-8::-webkit-scrollbar-thumb
{
	background-color: #36c6d3;
}
/**********  moz  **********/
#style-8::-moz-scrollbar-track
{
	-moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
#style-8::-moz-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}
#style-8::-moz-scrollbar-thumb
{
	background-color: #36c6d3;
}
/*********  Opera  *********/
#style-8::-o-scrollbar-track
{
	-o-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
#style-8::-o-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}
#style-8::-o-scrollbar-thumb
{
	background-color: #36c6d3;
}
/*********  style3  **********/
#style-3::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
#style-3::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb
{
	background-color: #8E44AD;
}
/**********  moz  **********/
#style-3::-moz-scrollbar-track
{
	-moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-3::-moz-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#style-3::-moz-scrollbar-thumb
{
	background-color: #8E44AD;
}
/*********  Opera  *********/
#style-3::-o-scrollbar-track
{
	-o-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-3::-o-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#style-3::-o-scrollbar-thumb
{
	background-color: #8E44AD;
}
/********  style 4  *********/

#style-4::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar-thumb
{
	background-color: rgb(3,155,229);
}
/**********  moz  **********/
#style-4::-moz-scrollbar-track
{
	-moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-4::-moz-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#style-4::-moz-scrollbar-thumb
{
	background-color: rgb(3,155,229);
}
/*********  Opera  *********/
#style-4::-o-scrollbar-track
{
	-o-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-4::-o-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#style-4::-o-scrollbar-thumb
{
	background-color: rgb(3,155,229);
}
/***** NOTIFICATION AREA ANIMATION *****/
.theme-switcher .glyph-icon {display:block
}
.icon-spin {-webkit-animation:spin 2s infinite linear; -moz-animation:spin 2s infinite linear; -o-animation:spin 2s infinite linear; animation:spin 2s infinite linear
}
@-moz-keyframes spin {
0% {
-moz-transform:rotate(0deg)
}
100% {
-moz-transform:rotate(359deg)
}
}
@-webkit-keyframes spin {
0% {
-webkit-transform:rotate(0deg)
}
100% {
-webkit-transform:rotate(359deg)
}
}
@-o-keyframes spin {
0% {
-o-transform:rotate(0deg)
}
100% {
-o-transform:rotate(359deg)
}
}
@keyframes spin {
0% {
-webkit-transform:rotate(0deg);
transform:rotate(0deg)
}
100% {
-webkit-transform:rotate(359deg);
transform:rotate(359deg)
}
}
@keyframes fadebottom {
0% {
opacity:1;
transform:translateY(0px);
-moz-transform:translateY(0px);
-o-transform:translateY(0px)
}
25% {
opacity:0;
transform:translateY(20px);
-moz-transform:translateY(20px);
-o-transform:translateY(20px)
}
30% {
opacity:0;
transform:translateY(0px);
-moz-transform:translateY(0px);
-o-transform:translateY(0px)
}
100%, 45% {
opacity:1;
transform:translateY(0px);
-moz-transform:translateY(0px);
-o-transform:translateY(0px)
}
}
@-webkit-keyframes fadebottom {
0% {
opacity:1;
transform:translateY(0px);
-webkit-transform:translateY(0px)
}
25% {
opacity:0;
transform:translateY(20px);
-webkit-transform:translateY(20px)
}
30% {
opacity:0;
transform:translateY(0px);
-webkit-transform:translateY(0px)
}
100%, 45% {
opacity:1;
transform:translateY(0px);
-webkit-transform:translateY(0px)
}
}
/********** SLIDING WINDOW **********/
body {overflow-x: hidden;}
.message {
background:#181818;
color:#FFF;
position:fixed;
float: right!important;
right: -300px;
top: 101px;
width: 300px;
height: 490px;
transition: right 400ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
overflow: hidden;
box-sizing: border-box;
z-index:9999999; border-left:1px solid #E1E1E1; border-top:1px solid #E1E1E1; border-bottom:1px solid #E1E1E1;
box-shadow: 0 4px 5px -2px rgba(0,0,0,.2),0 7px 10px 1px rgba(0,0,0,.14),0 2px 16px 1px rgba(0,0,0,.12);}
.message h1 {
  color:#FFF;
}
#toggle {
  position:absolute;
  appearance:none;
  cursor:pointer;
  left:-100%;
  top:-100%;
}
#toggle + label {
position:fixed!important;
cursor: pointer!important;
right: 0!important;
background: #364150;
border-radius: 3px;
padding-top:11px;
padding-bottom:9px;
padding-left:11px;
padding-right:11px;
color: #FFF;
font-size:19px;
text-align:center;
-webkit-font-smoothing: antialiased;
cursor: pointer;
margin-right:0px;
float:right!important;
transition:all 400ms ease;
box-shadow: 0 4px 5px -1px rgba(0,0,0,.2),0 7px 10px 1px rgba(0,0,0,.14),0 2px 16px 1px rgba(0,0,0,.12);
}
#toggle + label:after {
  /*content:"Open" */
}
.container {
transition: margin 400ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  padding:5em 3em;
}
#toggle:checked ~ .message {
  right: 0;
}
#toggle:checked ~ .container {
 /* margin-right: 50px;*/
}
#toggle:checked + label {
  background:#e7505a;
}
#toggle:checked + label:after {
  /*content:"Close"*/
}

/***************  PAGE-BAR SECTION  ****************/
.page-bar {
    position: relative;
    padding: 0 20px;
    margin: 12px 26px 0;
}
.page-bar {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
.page-bar:after, .page-bar:before {
    content: " ";
    display: table;
}
 section .page-bar .page-breadcrumb {
 padding: 1px 1px; font-size: 12px; color:#BFBFBF;
}
.page-bar .page-breadcrumb {
    display: inline-block;
    float: left;
    padding: 8px;
    margin: 0;
    list-style: none;
}
a, div, li, pre, span, ul {
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    border-radius: 0!important;
}
.page-bar .page-breadcrumb>li {
    display: inline-block;  font-size: 14px;
}
section .page-bar .page-breadcrumb>li>a{
    color: #888; font-size: 14px!important; padding-right: 3px;
}
 section .page-bar .page-breadcrumb>li>span {
    color: #888; font-size: 14px!important; padding-left: 3px;
}
section .page-bar .page-breadcrumb>li>a:hover{ text-decoration:underline;
}

/************ HOMEPAGE DESIGN SECTION ************/

.callout h4{
			margin-top: 0;
			font-size: 20px;
			color: #fff;
			font-weight:300!important;
			margin-bottom: 5px;
		}
		.callout p{
			margin-top: 0; margin-bottom:0px;
			color: #fff;
			font-size: 14px;
			text-align: right;
			font-weight:300!important;
		}
		.callout h2{
			margin-top: 0;
			font-size: 22px;
			text-align:right;
			margin-bottom: 0;
			padding-right: 0px;
			font-weight:300!important;
			color: #FFF;
			text-decoration: none !important;
		}
        .callout .awsmfont{ color:#EBEBEB;
		}
			.callout h2:hover
			{
				color: #A0A0A0;
				cursor: pointer;
				-webkit-transition: .4s all ease;
				-moz-transition: .4s all ease;
				transition: .4s all ease;
			}

		.box-body
		{
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			border-bottom-right-radius: 3px;
			border-bottom-left-radius: 3px;
			padding: 10px;
		}
		.callout{
			border-radius: 3px;
			margin: 0 0 15px 0;
			color:#fff!important;
			padding: 12px 12px 12px 12px;
			font-size: 40px;
			/*box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px, rgba(0, 0, 0, 0.137255) 0px 1px 1px 0px, rgba(0, 0, 0, 0.117647) 0px 2px 1px -1px;*/
		}
		.callout:hover{ -webkit-transform: translateY(-3px)!important;
                        transform: translateY(-3px)!important;
                        -webkit-box-shadow: 0 5px 5px rgba(0,0,0,.3)!important;
                        box-shadow: 0 5px 5px rgba(0,0,0,.3)!important;
						-webkit-transition: all .2s ease-out!important;
						-moz-transition: all .2s ease-out!important;
						-o-transition: all .2s ease-out!important;
                        transition: all .2s ease-out!important;
						/*    box-shadow: 0 7px 8px -4px rgba(0,0,0,.2),0 12px 17px 2px rgba(0,0,0,.14),0 5px 22px 4px rgba(0,0,0,.12); transition: all .2s ease-out!important;*/
		}
			.callout a{
				color: #fff;
				text-decoration: underline;
			}
				.callout a:hover				{
					color: #eee;
				}
			.callout h4
			{
				margin-top: 5px;
				font-weight: 600;
				text-align: right;
			}
			.callout p:last-child
			{
				margin-bottom: 0;
			}
			.callout code, .callout .highlight
			{
				background-color: #fff;
			}
			.callout.callout-danger, .callout.callout-warning, .callout.callout-info, .callout.callout-success, .callout.callout-heroic, .callout.callout-angel, .callout.callout-divine, .callout.callout-possible
			{
				color: #fff !important;
			}
			.callout.callout-danger
			{
				background-color: #f39c12 !important;
			}
			.callout.callout-warning
			{
				background-color: #e7505a !important;
			}
			.callout.callout-info
			{
				background-color: #3598dc !important;
			}
			.callout.callout-success
			{
				background-color: #32c5d2 !important;
			}
			.callout.callout-heroic
			{
				background-color: #8E44AD; !important;
			}
			.callout.callout-angel
			{
				background-color: #67809F !important;
			}
			.callout.callout-divine
			{
				/*background-color: #FF4F4F !important;*/ background-color:#FF8080!important;
			}
			.callout.callout-possible
			{
				background-color: #32c5d2 !important;
			}
            .callout.callout-devil
			{
				background-color: #27ae60 !important;               
			}
			.callout.callout-zion
			{
				background-color:#FF8080 !important;               
			}
            .callout.callout-patriot
			{
				background-color: #394263 !important;
			}
            .callout.callout-hilight
			{
				background-color: #f25cca !important;
			}

.ocean{ color:#32c5d2;
	}
.bloody{ color:#e7505a;
}
/****************  COL LG COL SM  *******************/		
.col-sm-1, .col-lg-1, .col-sm-2, .col-lg-2, .col-sm-3, .col-lg-3, .col-sm-4, .col-lg-4, .col-sm-5, .col-lg-5, .col-sm-6, .col-lg-6, .col-sm-7, .col-lg-7, .col-sm-8, .col-lg-8, .col-sm-9, .col-lg-9, .col-sm-10, .col-lg-10, .col-sm-11, .col-lg-11, .col-sm-12, .col-lg-12
{position: relative; min-height: 1px; padding-right: 7.5px; padding-left:7.5px;
}
.col-lg-12{margin-top: 55px;}
.col-sm-12{text-align: center; width: calc(100% - 15px);}
@media (min-width: 710px)
{
	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12
	{
		float: left;
	}
}
@media (max-width: 950px)
{
.col-sm-12{width: 100%;}
.col-sm-11{width: 100%;}
.col-sm-10{width: 100%;}
.col-sm-9{width: 100%;}
.col-sm-8{width: 100%;}
.col-sm-7{width: 100%;}
.col-sm-6{width: 100%;}
.col-sm-5{width: 100%;}
.col-sm-4{width: 100%;}
.col-sm-3{width: 100%;}
.col-sm-2{width: 100%;}
.col-sm-1{width: 100%;}	

.col-lg-12{width: 100%;}
.col-lg-11{width: 100%;}
.col-lg-10{width: 100%;}
.col-lg-9{width: 100%;}
.col-lg-8{width: 100%;}
.col-lg-7{width: 100%;}
.col-lg-6{width: 100%;}
.col-lg-5{width: 100%;}
.col-lg-4{width: 100%;}
.col-lg-3{width: 100%;}
.col-lg-2{width: 100%;}
.col-lg-1{width: 100%;}
}
@media (min-width: 950px)
{
.col-sm-11{width: 91.66666667%;}
.col-sm-10{width: 83.33333333%;}
.col-sm-9{width: 75%;}
.col-sm-8{width: 66.66666667%;}
.col-sm-7{width: 58.33333333%;}
.col-sm-6{width: 50%;}
.col-sm-5{width: 41.66666667%;}
.col-sm-4{width: 33.33333333%;}
.col-sm-3{width: 25%;}
.col-sm-2{width: 16.66666667%;}
.col-sm-1{width: 8.33333333%;}
.col-sm-pull-12{right: 100%;}
.col-sm-pull-11{right: 91.66666667%;}
.col-sm-pull-10{right: 83.33333333%;}
.col-sm-pull-9{right: 75%;}
.col-sm-pull-8{right: 66.66666667%;}
.col-sm-pull-7{right: 58.33333333%;}
.col-sm-pull-6{right: 50%;}
.col-sm-pull-5{right: 41.66666667%;}
.col-sm-pull-4{right: 33.33333333%;}
.col-sm-pull-3{right: 25%;}
.col-sm-pull-2{right: 16.66666667%;}
.col-sm-pull-1{right: 8.33333333%;}
.col-sm-pull-0{	right: auto;}
.col-sm-push-12{left: 100%;}
.col-sm-push-11{left: 91.66666667%;}
.col-sm-push-10{left: 83.33333333%;}
.col-sm-push-9{left: 75%;}
.col-sm-push-8{left: 66.66666667%;}
.col-sm-push-7{left: 58.33333333%;}
.col-sm-push-6{left: 50%;}
.col-sm-push-5{left: 41.66666667%;}
.col-sm-push-4{left: 33.33333333%;}
.col-sm-push-3{left: 25%;}
.col-sm-push-2{left: 16.66666667%;}
.col-sm-push-1{left: 8.33333333%;}
.col-sm-push-0{left: auto;}
.col-sm-offset-12{margin-left: 100%;}
.col-sm-offset-11{margin-left: 91.66666667%;}
.col-sm-offset-10{margin-left: 83.33333333%;}
.col-sm-offset-9{margin-left: 75%;}
.col-sm-offset-8{margin-left: 66.66666667%;}
.col-sm-offset-7{margin-left: 58.33333333%;}
.col-sm-offset-6{margin-left: 50%;}
.col-sm-offset-5{margin-left: 41.66666667%;}
.col-sm-offset-4{margin-left: 33.33333333%;}
.col-sm-offset-3{margin-left: 25%;}
.col-sm-offset-2{margin-left: 16.66666667%;}
.col-sm-offset-1{margin-left: 8.33333333%;}
.col-sm-offset-0{margin-left: 0;}
}

@media (min-width: 950px)
{
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{/*float: left;*/}
.col-lg-12{width: 100%;/*margin-top: 90px;*/}
.col-lg-11{width: 91.66666667%;}
.col-lg-10{width: 83.33333333%;}
.col-lg-9{width: 75%;}
.col-lg-8{width: 66.66666667%;}
.col-lg-7{width: 58.33333333%;}
.col-lg-6{width: 50%;}
.col-lg-5{width: 41.66666667%;}
.col-lg-4{width: 33.33333333%;}
.col-lg-3{width: 25%;}
.col-lg-2{width: 16.66666667%;}
.col-lg-1{width: 8.33333333%;}
.col-lg-pull-12{right: 100%;}
.col-lg-pull-11{right: 91.66666667%;}
.col-lg-pull-10{right: 83.33333333%;}
.col-lg-pull-9{right: 75%;}
.col-lg-pull-8{right: 66.66666667%;}
.col-lg-pull-7{right: 58.33333333%;}
.col-lg-pull-6{right: 50%;}
.col-lg-pull-5{right: 41.66666667%;}
.col-lg-pull-4{right: 33.33333333%;}
.col-lg-pull-3{right: 25%;}
.col-lg-pull-2{right: 16.66666667%;}
.col-lg-pull-1{right: 8.33333333%;}
.col-lg-pull-0{right: auto;}
.col-lg-push-12{left: 100%;}
.col-lg-push-11{left: 91.66666667%;}
.col-lg-push-10{left: 83.33333333%;}
.col-lg-push-9{left: 75%;}
.col-lg-push-8{left: 66.66666667%;}
.col-lg-push-7{left: 58.33333333%;}
.col-lg-push-6{left: 50%;}
.col-lg-push-5{left: 41.66666667%;}
.col-lg-push-4{left: 33.33333333%;}
.col-lg-push-3{left: 25%;}
.col-lg-push-2{left: 16.66666667%;}
.col-lg-push-1{left: 8.33333333%;}
.col-lg-push-0{left: auto;}
.col-lg-offset-12{margin-left: 100%;}
.col-lg-offset-11{margin-left: 91.66666667%;}
.col-lg-offset-10{margin-left: 83.33333333%;}
.col-lg-offset-9{margin-left: 75%;}
.col-lg-offset-8{margin-left: 66.66666667%;}
.col-lg-offset-7{margin-left: 58.33333333%;}
.col-lg-offset-6{margin-left: 50%;}
.col-lg-offset-5{margin-left: 41.66666667%;}
.col-lg-offset-4{margin-left: 33.33333333%;}
.col-lg-offset-3{margin-left: 25%;}
.col-lg-offset-2{margin-left: 16.66666667%;}
.col-lg-offset-1{margin-left: 8.33333333%;}
.col-lg-offset-0{margin-left: 0;}
}
/**********   code for form components   **********/
.form-panel{
	padding: 27px 40px;
	text-align: left;
}
.box-title{ margin-top:-25px; margin-left: 9px; margin-bottom:18px; color: #727272; font-size:30px; font-weight:300!important;
}
.form-horizontal.style-form .form-group
{
	padding-bottom: 15px;
	margin-bottom: 15px;
}

@media (min-width: 768px)
{
	.form-horizontal .control-label
	{
		text-align: left;
	}
}

.form-control
{
	display: block;
	width: 100%;
	height: 24px;
	padding: 5px 5px;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

	.form-control:focus
	{
		border-color: #66afe9;
		outline: 0;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
	}

	.form-control::-moz-placeholder
	{
		color: #777;
		opacity: 1;
	}

	.form-control:-ms-input-placeholder
	{
		color: #777;
	}

	.form-control::-webkit-input-placeholder
	{
		color: #777;
	}

	.form-control[disabled],
	.form-control[readonly],
	fieldset[disabled] .form-control
	{
		cursor: not-allowed;
		background-color: #eee;
		opacity: 1;
	}

textarea.form-control
{
	height: auto;
}

input[type="search"]
{
	-webkit-appearance: none;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"]
{
	line-height: 34px;
	line-height: 1.428571430;
}

	input[type="date"].input-sm,
	input[type="time"].input-sm,
	input[type="datetime-local"].input-sm,
	input[type="month"].input-sm
	{
		line-height: 30px;
	}

	input[type="date"].input-lg,
	input[type="time"].input-lg,
	input[type="datetime-local"].input-lg,
	input[type="month"].input-lg
	{
		line-height: 46px;
	}

.form-group
{
	margin-bottom: 15px;
}

.input-sm,
.form-horizontal .form-group-sm .form-control
{
	height: 30px;
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
}

.input-lg,
.form-horizontal .form-group-lg .form-control
{
	height: 46px;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 6px;
}

.form-horizontal .radio,
.form-horizontal .radio-inline
{
	padding-top: 7px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.form-horizontal .radio
{
	min-height: 27px;
}

.form-horizontal .form-group
{
	overflow-x: auto;
}

@media (min-width: 768px)
{
	.form-horizontal .control-label
	{
		padding-top: 7px;
		margin-bottom: 0;
		text-align: right;
	}
}


@media (min-width: 768px)
{
	.form-horizontal .form-group-lg .control-label
	{
		padding-top: 14.3px;
	}
}

@media (min-width: 768px)
{
	.form-horizontal .form-group-sm .control-label
	{
		padding-top: 6px;
	}
}

.form-horizontal .form-group:before,
.form-horizontal .form-group:after
{
	display: table;
	content: " ";
}

.form-horizontal .form-group:after
{
	clear: both;
}

.form-group
{
	margin-bottom: 15px;
}

@media (min-width: 768px)
{
	.form-inline .form-group
	{
		display: inline-block;
		margin-bottom: 0;
		vertical-align: middle;
	}

	.form-inline .form-control
	{
		display: inline-block;
		width: auto;
		vertical-align: middle;
	}

	.form-inline .input-group
	{
		display: inline-table;
		vertical-align: middle;
	}

		.form-inline .input-group .input-group-addon,
		.form-inline .input-group .input-group-btn,
		.form-inline .input-group .form-control
		{
			width: auto;
		}
		.form-inline .input-group > .form-control
		{
			width: 100%;
		}
	.form-inline .control-label
	{
		margin-bottom: 0;
		vertical-align: middle;
	}
	.form-inline .radio
	{
		display: inline-block;
		margin-top: 0;
		margin-bottom: 0;
		vertical-align: middle;
	}
		.form-inline .radio label
		{
			padding-left: 0;
		}
		.form-inline .radio input[type="radio"]
		{
			position: relative;
			margin-left: 0;
		}

	.form-inline .has-feedback .form-control-feedback
	{
		top: 0;
	}
}
.divfooter{ height:50px; width:100%; background-color:#364150!important; border-top:3px solid #36c6d3!important;bottom:0!important; text-align:center; color: #fff!important; font-weight:300!important; -webkit-box-shadow: inset 0 0 25px rgba(0,0,0,0.7); position:absolute; z-index:999;
}
.divfooter a{ color: #36c6d3; font-weight:400; text-decoration:none;
}