   .ezdz-dropzone {
	position:relative;
	width:280px;
	height:180px;
	overflow:hidden;
	font:bold 20px arial;
	line-height:177px;
	color:#9E9E9E;
	text-align:center;
	border:2px dotted #9A9A9A;
	background-color:#F2F2F2;
}
@media screen and (max-width: 1200px) and (min-width: 870px) {
	 .ezdz-dropzone {
	position:relative;
	width:220px;
	height:135px;
	overflow:hidden;
	font:bold 20px arial;
	line-height:130px;
	color:#9E9E9E;
	text-align:center;
	border:2px dotted #9A9A9A;
	background-color:#F2F2F2;
}
}
@media screen and (max-width: 869px){
	 .ezdz-dropzone {
	position:relative;
	width:190px;
	height:125px;
	overflow:hidden;
	font:bold 20px arial;
	line-height:120px;
	color:#9E9E9E;
	text-align:center;
	border:2px dotted #9A9A9A;
	background-color:#F2F2F2;
}
}
@media screen and (max-width: 364px){
	 .ezdz-dropzone {
	position:relative;
	width:150px;
	height:105px;
	overflow:hidden;
	font:bold 20px arial; font-size:16px;
	line-height:100px;
	color:#9E9E9E;
	text-align:center;
	border:2px dotted #9A9A9A;
	background-color:#F2F2F2;
}

}
.ezdz-dropzone:hover{ background-color:#fff;
transition: .3s all;
}
.ezdz-dropzone span {
	display:inline-block;
	max-width:90%;
	padding:4%;
	overflow:hidden;
	font-size:13px;
	font-weight:normal;
	line-height:10px;
	color:white;
	text-overflow:ellipsis;
	white-space:nowrap;
	vertical-align:middle;
	background:black;
	background:rgba(0, 0, 0, 0.7);
}
.ezdz-dropzone img {
	max-width:95%;
	max-height:95%;
	margin-top:-3px;
	vertical-align:middle;
	border-radius:5px
}
.ezdz-dropzone [type="file"] {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	cursor:pointer;
	opacity:0
}
.ezdz-focus {
	color:#9E9E9E;
	border:2px dotted #3598dc;
}
.ezdz-enter {
	color:#9E9E9E;
	border:2px solid black; background-color:#fff;
}
.ezdz-accept {
	color:#9E9E9E;
	border:2px solid #3598dc;background-color:#fff;
}
.ezdz-reject {
	color:#9E9E9E;
	border:2px solid darkred;background-color:#fff;
}
