
.mytab_noti {
	max-width: 980px;
	margin: 0 auto;
}
/********* 2ND SECTION *********/

.pcss3t_noti {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	font-size: 0;
	text-align: left;
}
.pcss3t_noti > input {
	position: absolute;
	display: none;
}
.pcss3t_noti > label {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	cursor: pointer;
	transition: all 0.1s;
	-o-transition: all 0.1s;	
	-ms-transition: all 0.1s;	
	-moz-transition: all 0.1s;	
	-webkit-transition: all 0.1s;
}
.pcss3t_noti > label i {
	display: block;
	float: left;
	margin: 0 8px 0 -2px;
	padding: 0;
	border: 0;
	outline: none;
	font-style: normal;
	font-size: 17px;
}
.pcss3t_noti > input:checked + label {
	cursor: default;
}
.pcss3t_noti > ul {
	list-style: none;
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	font-size: 13px;
}
.pcss3t_noti > ul > li {
	position: absolute;
	width: 100%;
	overflow: auto;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	opacity: 0;
	transition: all 0.5s;
	-o-transition: all 0.5s;	
	-ms-transition: all 0.5s;	
	-moz-transition: all 0.5s;	
	-webkit-transition: all 0.5s;
}
.pcss3t_noti > .tab-content-first:checked ~ ul .tab-content-first,
.pcss3t_noti > .tab-content-2:checked ~ ul .tab-content-2,
.pcss3t_noti > .tab-content-3:checked ~ ul .tab-content-3,
.pcss3t_noti > .tab-content-4:checked ~ ul .tab-content-4,
.pcss3t_noti > .tab-content-5:checked ~ ul .tab-content-5,
.pcss3t_noti > .tab-content-6:checked ~ ul .tab-content-6,
.pcss3t_noti > .tab-content-7:checked ~ ul .tab-content-7,
.pcss3t_noti > .tab-content-8:checked ~ ul .tab-content-8,
.pcss3t_noti > .tab-content-9:checked ~ ul .tab-content-9,
.pcss3t_noti > .tab-content-last:checked ~ ul .tab-content-last {
	z-index: 1;
	top: 0;
	left: 0;
	opacity: 1;
	-webkit-transform: scale(1,1);
	-webkit-transform: rotate(0deg); background-color:#fff;
}
.pcss3t_noti-height-auto > ul {
	height: auto !important;
}
.pcss3t_noti-height-auto > ul > li {
	position: static;
	display: none;
	height: auto !important;
}
.pcss3t_noti-height-auto > .tab-content-first:checked ~ ul .tab-content-first,
.pcss3t_noti-height-auto > .tab-content-2:checked ~ ul .tab-content-2,
.pcss3t_noti-height-auto > .tab-content-3:checked ~ ul .tab-content-3,
.pcss3t_noti-height-auto > .tab-content-4:checked ~ ul .tab-content-4,
.pcss3t_noti-height-auto > .tab-content-5:checked ~ ul .tab-content-5,
.pcss3t_noti-height-auto > .tab-content-6:checked ~ ul .tab-content-6,
.pcss3t_noti-height-auto > .tab-content-7:checked ~ ul .tab-content-7,
.pcss3t_noti-height-auto > .tab-content-8:checked ~ ul .tab-content-8,
.pcss3t_noti-height-auto > .tab-content-9:checked ~ ul .tab-content-9,
.pcss3t_noti-height-auto > .tab-content-last:checked ~ ul .tab-content-last {
	display: block;
}
.pcss3t_noti .grid-row {
	margin-top: 20px;
}
.pcss3t_noti .grid-row:after {
	content: '';
	display: table;
	clear: both;
}
.pcss3t_noti .grid-row:first-child {
	margin-top: 0;
}
.pcss3t_noti .grid-col {
	display: block;
	float: left;
	margin-left: 2%;
}
.pcss3t_noti .grid-col:first-child {
	margin-left: 0;
}
.pcss3t_noti .grid-col .inner {
	padding: 10px 0;
	border-radius: 5px;
	background: #f2f2f2;
	text-align: center;
}
.pcss3t_noti .grid-col-1 {
	width: 15%;
}
.pcss3t_noti .grid-col-2 {
	width: 32%;
}
.pcss3t_noti .grid-col-3 {
	width: 49%;
}
.pcss3t_noti .grid-col-4 {
	width: 66%;
}
.pcss3t_noti .grid-col-5 {
	width: 83%;
}
.pcss3t_noti .grid-col-offset-1 {
	margin-left: 19%;
}
.pcss3t_noti .grid-col-offset-1:first-child  {
	margin-left: 17%;
}
.pcss3t_noti .grid-col-offset-2 {
	margin-left: 36%;	
}
.pcss3t_noti .grid-col-offset-2:first-child {
	margin-left: 34%;
}
.pcss3t_noti .grid-col-offset-3 {
	margin-left: 53%;
}
.pcss3t_noti .grid-col-offset-3:first-child {
	margin-left: 51%;
}
.pcss3t_noti .grid-col-offset-4 {
	margin-left: 70%;
}
.pcss3t_noti .grid-col-offset-4:first-child {
	margin-left: 68%;
}
.pcss3t_noti .grid-col-offset-5:first-child {
	margin-left: 85%;
}

/* typography */
.widget-user2 {
    min-height: 80px;
}
.widget-user2:hover { /*box-shadow: 0px 3px 2px #aab2bd;*/ background-color:#F5F5F5;
                    -webkit-transition: all .2s ease-out!important;
					-moz-transition: all .2s ease-out!important;
					-o-transition: all .2s ease-out!important;
                    transition: all .2s ease-out!important;
                   /* box-shadow: 0 7px 8px -4px rgba(0,0,0,.2),0 12px 17px 2px rgba(0,0,0,.14),0 5px 22px 4px rgba(0,0,0,.12); transition: all .2s ease-out!important;*/
}
.card-box2 {
    padding: 12px;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-clip: padding-box;
    background-color: #ffffff;
}
.widget-user2 span {
    height: 72px;
    float: left;
}
.img-circle2 {
   
}
  .img-responsive2{
    display: block;
    max-width: 100%; color:#E4E4E4; font-size:50px;
    height: auto; vertical-align: middle;  border: 0;
}
.widget-user2 .wid-u-info2 {
    margin-left: 70px;
}
.widget-user2 .wid-u-info2 p, .widget-user2 .wid-u-info2 h4 {
    white-space: nowrap; font-size: 22px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}
.font-6002 {
    font-weight: 600;
}
.m-b-52 { margin-bottom: 7px !important;
}
.m-t-02 {
    margin-top: 0px !important; color: #777; font-weight:300;
}
.m-t-02 h4 {
    line-height: 22px;
}
.m-t-02 h6 {
    color: #505458;
    margin: 10px 0;
}
.m-t-02 h4 {
    font-size: 18px;
}
.text-muted2 {
    color: #98a6ad !important;
}
.font-132 {
    font-size: 13px !important;
}
.text-muted2 {
    color: #777; margin-top: 1px; margin-bottom: 6px!important;
}
.text-muted2 p {
    line-height: 1.6;
}
.text-muted2 p {
    margin: 0 0 10px;
}
.text-warning2 {
    color: #f9c851 !important;
}
.text-custom2 {
    color: #71b6f9 !important;
}
.text-success2 {
    color: #10c469 !important;
}
.text-info2 {
    color: #35b8e0 !important;
}
.text-edit2{ color:#00376F; font-size: 20px; font-weight:bold; float:right; margin-left:7px; margin-right:7px; height:30px; width:30px;
}
.text-delete2{ color:#F00; font-size: 20px; font-weight:bold; float:right; margin-left:7px; margin-right:7px;
}
b {
    font-weight: 600;
}
.text-warning2 b {
    font-weight: 700; font-size: 16px; text-decoration:none!important; underline:none;
}
.pcss3t_noti .typography ul,
.pcss3t_noti .typography ol {
	list-style: none;
	margin: 20px 0 0 0;
	padding: 0;
}
.pcss3t_noti .typography li {
	position: relative;
	margin-top: 5px;
	padding-left: 20px;
}
.pcss3t_noti .typography li ul,
.pcss3t_noti .typography li ol {
	margin-top: 5px;
}
.pcss3t_noti .typography ul li:before {
	content: '';
	position: absolute;
	top: 8px;
	left: 0;
	width: 6px;
	height: 4px;
	background: #404040;
}
.pcss3t_noti .typography ol {
	counter-reset: list1;
}
.pcss3t_noti .typography ol > li:before {
	counter-increment:list1;
	content: counter(list1)'.';
	position: absolute;
	top: 0;
	left: 0;
}
.pcss3t_noti .typography a {
/*	text-decoration: underline;*/
	color: #1889e6;
}
.pcss3t_noti .typography a:hover {
	text-decoration: none;
}
.pcss3t_noti .typography .pic {
	padding: 4px;
	border: 1px dotted #ccc;
}
.pcss3t_noti .typography .pic img {
	display: block;
}
.pcss3t_noti .typography .pic-right {
	float: right;
	margin: 0 0 10px 20px;
}
.pcss3t_noti .typography .link {
	/*text-decoration: underline;*/
	color: #1889e6;
	cursor: pointer;
}
.pcss3t_noti .typography .link:hover {
	text-decoration: none;
}
.pcss3t_noti .typography .text-center {
	text-align: center;
}
.pcss3t_noti .typography .text-right {
	text-align: right;
}
/* steps */
.pcss3t_noti-steps > label {
	cursor: default;
}

/* animation */

.pcss3t_noti-effect-scale > ul > li {
	-webkit-transform: scale(0.1,0.1);
}
.pcss3t_noti-effect-rotate  > ul > li {
	-webkit-transform: rotate(180deg);
}
.pcss3t_noti-effect-slide-top > ul > li {
	top: -40px;
}
.pcss3t_noti-effect-slide-right > ul > li {
	left: 80px;
}
.pcss3t_noti-effect-slide-bottom > ul > li {
	top: 40px;
}
.pcss3t_noti-effect-slide-left > ul > li {
	left: -80px;
}

.pcss3t_noti-layout-top-right {
	text-align: right;
}

/* top center */
.pcss3t_noti-layout-top-center {
	text-align: center;
}
.pcss3t_noti > .right {
	float: right;
}

.pcss3t_noti-icons-top > label {
	text-align: center;
}
.pcss3t_noti-icons-top > label i {
	float: none;
	margin: 0 auto -10px;
	padding-top: 17px;
	font-size: 23px;
	line-height: 23px;
	text-align: center;
}
.pcss3t_noti-icons-right > label i {
	float: right;
	margin: 0 -2px 0 8px;
}
.pcss3t_noti-icons-bottom > label {
	text-align: center;
}
.pcss3t_noti-icons-bottom > label i {
	float: none;
	margin: -10px auto 0;
	padding-bottom: 17px;
	font-size: 23px;
	line-height: 23px;
	text-align: center;
}
.pcss3t_noti-icons-only > label i {
	float: none;
	margin: 0 auto;
	font-size: 23px;
}

@media screen and (max-width: 900px) {
	.pcss3t_noti > label {
		display: block; width:100%!important;
	}
	.pcss3t_noti > .right {
		float: none;
	}
}

.pcss3t_noti > label {	
	background: #fff;
	color: rgba(0,0,0,0.54); width:100%;
	font-size: 22px;
	line-height: 40px;
	font-weight: 400;box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
}
.pcss3t_noti > label:hover {
	    color:rgba(0,0,0,0.54);
}
/*.pcss3t_noti > input:checked + label {
	background: #394263;     color: #fff!important; 
}*/
.pcss3t_noti > input:checked + label {
	background:#fff; color:rgb(3,155,229); border-bottom: 1px solid #F7F7F7;    
}
.pcss3t_noti > ul {
	background: #fff;
	text-align: left;
}
.pcss3t_noti-steps > label:hover {
	background: #e5e5e5;	
}
.pcss3t_noti-theme-1 > label {
	margin: 0 5px 5px 0;
	border-radius: 5px;
	background: #fff;
	box-shadow: 0 2px rgba(0,0,0,0.2);
	color: #808080;
	opacity: 0.8;
}
.pcss3t_noti-theme-1 > label:hover {
	background: #fff;
	opacity: 1;
}
.pcss3t_noti-theme-1 > input:checked + label {
	margin-bottom: 0;
	padding-bottom: 5px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	color: #2b82d9;
	opacity: 1;
}
.pcss3t_noti-theme-1 > ul {
	border-radius: 5px;
	box-shadow: 0 3px rgba(0,0,0,0.2);
}
.pcss3t_noti-theme-1 > .tab-content-first:checked ~ ul {
	border-top-left-radius: 0;
}
@media screen and (max-width: 900px) {
	.pcss3t_noti-theme-1 > label {
		margin-right: 0;
	}
	.pcss3t_noti-theme-1 > input:checked + label {
		margin-bottom: 5px;
		padding-bottom: 0;
		border-radius: 5px;
	}
	.pcss3t_noti-theme-1 > .tab-content-first:checked ~ ul {
		border-top-left-radius: 5px;
	}
}
.pcss3t_noti > ul,
.pcss3t_noti > ul > li {
	height: 460px;
}