* {
/*  margin: 0;*/
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ul { list-style-type: none; }
a {
  color: #b63b4d;
  text-decoration: none;
}
h1 a {
  color: #c12c42;
  font-size: 16px;
}
.accordion {
  width: 100%;
  max-width: 360px;
  margin-top: 30px;
  background: #364150;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.accordion .link {
  cursor: pointer;
  display: block;
  padding: 10px 15px;
  color: #b4bcc8;
  font-size: 14px;
  font-weight: 300;
  border-bottom: 1px solid #3d4957;
  position: relative;
  -webkit-transition: all 0.1s ease;
   -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.accordion .link:hover{ background-color:#2b3643; }
.accordion .actv { background-color:#36c6d3!important; color:#fff!important;
}
.accordion li:last-child .link { border-bottom: 0; }
.accordion li span {
  position: absolute;
  top: 14.5px;
  left: 12px;
  font-size: 18px;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.accordion li span.chevron-down {
  right: 22px;
  left: auto;
  font-size: 10px; font-weight:600;
}
.accordion li.open .link { color: #b4bcc8; background-color:#2b3643; }
.accordion li.open span { /*color: #fff;*/ }
.accordion li.open span.chevron-down {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
   -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.submenu {
  display: none;
  background:#364150!important;
  font-size: 14px;
}
.submenu li { border-bottom: 1px solid #4b4a5e; }

.submenu a {
  display: block;
  text-decoration: none;
  color: #d9d9d9;
  padding: 9px;
  padding-left: 37px;
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
  font-weight: 300;
  font-size: 15px;
}
.submenu a:hover {
  background:#3e4b5c!important;
  color:#b4bcc8;
}