#navbarCollapse {
    position: fixed;
    top: 56px;
    left: 0;
    width: 15%; /*example + never use min-width with this solution */
    height: 100%;
    z-index: 1;
    box-shadow: 0 4px 20px 1px rgba(0,0,0,.06), 0 1px 4px rgba(0,0,0,.08);
}

.navigation-left {
    text-align: center;
    width: 100%;
    height: 100%; 
}

.navigation-left .nav-item .nav-item-hold {
    display: block;
    width: 100%;
    padding: 26px 20px 26px 0;
    color: #663399;
    text-decoration: none;
    
}

.nav-text {
    font-size: 13px;
    display: block;
    font-weight: 400;
}

.nav-icon {
    font-size: 32px;
    display: block;
    margin: 0 auto 6px;
    color: white;
}

i {
    font-family: iconsmind!important;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}

.sidebar-left-secondary.open {
    left: 295px;
    top: 54px;
    height: 100%;
}

.sidebar-left-secondary {
    display: none;
    z-index: 89;
    width: 250px;
    padding: .75rem 0;
    text-align: center;
    background: #fff;
    position: absolute;
    top: 80px;
    height: calc(100vh - 80px);
    box-shadow: 0 4px 20px 1px rgba(0,0,0,.06), 0 1px 4px rgba(0,0,0,.08);
}

.sidebar-left-secondary:hover {
    display: block;
}
.sidebar-left-secondary .childNav li.nav-item {
    display: block;
}

.sidebar-left-secondary .childNav li.nav-item a {
    color: #663399;
    /* display: flex; */
    align-items: center;
    font-size: 15px;
    cursor: pointer;
    padding: 15px 85px 15px 0;
    text-decoration: none;
}

